:root {
    background-color: peachpuff;
    font-size: 62.5%;
  }

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px;
    padding: 10px;
    color: #333;
  }

header h3 {
    display: inline-block;
    font-size: 4rem;
    color:purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.quiz {
    align-items: center;
    text-align: center;
    font-size: 2.0rem;
    margin-top: 20.5rem;
}

div.optlist {
    text-align: center;
    
}

.optlist ul {
   align-items: left;
}

.optlist li {
    list-style-type: none;
    padding: 10px;
    margin-right: auto;
    border-radius: 15px;
}

.optlist li:hover {
    color: royalblue;
    border-radius: 500px;
    text-shadow: none;
}

.results {
    font-size: large;
    font-weight: bold;
    font-style: oblique;
}
.change {
    font-size: 20px;
    
}

.main-text {
    align-items: center;
}